doctype html
doctype html
html(lang="en")
  head
    title= pageTitle
    link(
      href='/dest/styles/style.css'
      rel='stylesheet'
      type='text/css'
    )
    meta(
      name="viewport"
      content="width=device-width, initial-scale=1"
      )  
  body
    div(class="info b-c-d c-w p-b-xl p-v-lg d-n" id="info")
      div(class="container")
        p(class="tt-u t-sm fw-b")= "INFO"
        p(class="fw-l")= "Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed posuere consectetur est at lobortis."
    div(class="hero")
      nav(class="nav fw-l dis-b p-t-xl container tt-u")
        div(class="grid-half p-v-xs")
          a(href='#' class='l0') Jacob Thompson-Mcdonald
        div(class="grid-half p-v-xs ta-r-on-md ta-l")
          a(href='#' id='navbutton' class='l0') Info/contact
      div(class="container c-w m-t-xl")
        div(class="content")
          h1(class="h-md p-t-md t-md t-xl-on-lg")= "It’s really hard to write about yourself"
          p(class="h-md p-t-md t-xs t-sm-on-md fw-l p-r-xl").
            I’m currently leading design + front-end development at #[a(href="http://releaseplatform.com" class="l1") Release Platform]
          p(class="h-md p-t-md t-xs t-sm-on-md fw-l p-r-xl").
            Before that, I worked at #[a(href="#" class="l2") Lost My Name] &amp; #[a(href="#" class="l2") Jadu]
        hr(class="hr m-t-xl dis-b")
    div(class="b-c-w")
      div(class="container p-v-xl")
    script(
      src='/dest/scripts/main.js'   
    )
    
